# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# =====================
# Pytest
# =====================
.pytest_cache/
.cache/
*.pytest_cache

# =====================
# Allure Reports
# =====================
allure-results/
allure-report/
reports/

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db